<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="devscripts" translate="label" sortOrder="999">
            <label>DevScripts</label>
        </tab>

        <section id="csp_disable" translate="label" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CSP Disable</label>
            <tab>devscripts</tab>
            <resource>DevScripts_CSPDisable::config_devscripts_cspdisable</resource>

            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="is_enable" type="select" translate="label" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable CSP</label>
                    <comment>Enable to disable Content Security Policy headers</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>